@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(20deg, #207, #909, #d70);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;

    animation-delay: 0.1s;
    animation-name: fontfix;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: linear-gradient(0deg, #909, #d70); 
}

::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eee; 
}

@keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}